#control {
	width: 500px;
	position: absolute;
	top: 500px;
}
span.hidden {
    display: none;
    float: right;
    font-size:80%;
}
img.planets {
  display:none;
}
canvas {
	position:absolute;
    left:10px;
    top:0px;
}
#canvas_layer1{
	z-index: 1;
}
#canvas_layer2{
	z-index: 2;
}